.site-footer {

	color: palette('white');

	background-color: palette('gray', 'dark');
}

.site-footer {
	@include link-undercover;
}

.container-footer {
	padding-top: $leading * 1rem;
	padding-bottom: $leading * 1.5rem;
	max-width: $max-width;

	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;

	@media screen and (min-width: breakpoint('desktop')) {
		padding-top: 4rem;
		padding-bottom: 2rem;
	}
}

.site-footer .psol[class] {
	max-width: 50rem;

	margin-right: auto;
	margin-bottom: $leading * 3rem;
	margin-left: auto;

	@media screen and (min-width: breakpoint('desktop')) {
		float: left;
	}
}

.site-footer .psol a {
	@include image-replacement;

	display: block;

	height: $leading * 2rem;
	min-width: 213px;
	min-height: 39px;

	background-image: url('../assets/images/icons/logo-psol.png');
	background-position: 50% 50%;
}

.site-footer__copyright {
	margin-right: auto;
	margin-left: auto;
	text-align: center;

	line-height: $leading * 2rem;

	vertical-align: middle;

	color: palette('orange');

	@media screen and (min-width: breakpoint('desktop')) {
		text-align: left;
	}


	@media screen and (min-width: breakpoint('desktop')) {
		clear: both;

		text-align: right;
	}
}

.site-footer__copyright > * {
	display: inline;
}

.site-footer__copyright li {
	display: block;
	max-width: 100%;

	padding-right: $gutter * 0.5;
	padding-left: $gutter * 0.5;

	@media screen and (min-width: breakpoint('desktop')) {
		display: inline-block;
	}
}

.site-footer__copyright ul a {
	@include image-replacement;

	display: block;

	height: $leading * 2rem;

	background-position: 50% 50%;
}

.site-footer__copyright ul .apoiadores a {
	min-width: 148px;

	background-image: url('../assets/images/icons/logo-apoiadores.png');
}

.site-footer__copyright ul .appcivico a {
	min-width: 138px;

	background-image: url('../assets/images/icons/logo-appcivico.png');
	background-position: 50% 35%;
}

footer p {
	display: block;
	font-size: 0.8em;
	color: palette('white');
	line-height: 1.3;
	margin-top: 2em;
	text-align: center;
	margin-bottom: 0;

	@media screen and (min-width: breakpoint('desktop')) {
		margin-top: 15em;
		text-align: right;
	}
}

footer a,
footer a:visited {
	color: palette('white');
	text-decoration: none;
}

footer a:hover {
	color: palette('orange');

}
