.site-header {
	position: relative;
	color: palette('white');
	min-height: 640px;
	height: 70vh;
	background-color: palette('gray', 'dark');
	background-image:
	url('../assets/images/backgrounds/capa-fundo-very-small.jpg');
	background-size:
	cover;
	background-position:
	center bottom;


	@media screen and (min-width: breakpoint('phablet')) {
		background-image:
		url('../assets/images/backgrounds/capa-fundo-small.jpg');
		height: 90vh;
		background-size:
		cover;
		background-position:
		0 0;
		min-height: 620px;
	}

	@media screen and (min-width: breakpoint('tablet')) {
		background-image:
		url('../assets/images/backgrounds/capa-fundo-medium.jpg');
		height: 90vh;
		background-size:
		cover;
		background-position:
		0 0;
		min-height: 720px;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		background-image:
		url('../assets/images/backgrounds/capa-fundo.jpg');
		background-size:
		cover;
		background-position:
		0 0;
		min-height: 780px;
	}

	@media screen and (min-width: breakpoint('wide')) {
		height: 80vh;
		min-height: 870px;
		background-image:
		url('../assets/images/backgrounds/capa-fundo.jpg');
		background-size:
		cover;
		background-position:
			0 0;
	}
}

.header-container {
	max-width: $max-width;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;
}

#home__greetings {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;

	@media screen and (min-width: breakpoint('phablet')) {
		top: 27%;
	}
	@media screen and (min-width: breakpoint('tablet')) {
		top: 20%;
	}
}


.site-label {
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@media screen and (min-width: breakpoint('desktop')) {
		text-align: right;
		max-width: 947px;
	}
	@media screen and (min-width: breakpoint('wide')) {
		max-width: 1000px;
	}
}

.site-label h1 {
	position: relative;
	@include image-replacement;
	min-width: 280px;
	min-height: 159px;
	margin-bottom: -0.1em;
	display: block;

	background-image: url('../assets/images/backgrounds/text-image-phone.png');
	background-position: center center;
	background-size: 280px 159px;

	@media screen and (min-width: breakpoint('phablet')) {
		min-width: 430px;
		min-height: 244px;
		background-image: url('../assets/images/backgrounds/text-image-phablet.png');
		background-position: center center;
		background-size: 430px 244px;
		margin-bottom: 2px;
	}
	@media screen and (min-width: breakpoint('tablet')) {
		min-width: 580px;
		min-height: 329px;
		background-image: url('../assets/images/backgrounds/text-image-tablet.png');
		background-position: center center;
		background-size: 580px 329px;
	}
	@media screen and (min-width: breakpoint('desktop')) {
		min-width: 947px;
		min-height: 209px;
		background-image: url('../assets/images/backgrounds/text-image-desktop.png');
		background-position: center center;
		background-size: 947px 209px;
	}
	@media screen and (min-width: breakpoint('wide')) {
		min-width: 1000px;
		min-height: 222px;
		background-image: url('../assets/images/backgrounds/text-image-wide.png');
		background-position: center center;
		background-size: 1000px 222px;
	}

}

.site-label .call-to-action {
	position: relative;
	z-index: 2;
	font-size: ms(2);
	text-decoration: none;
	font-weight: 800;
	font-style: italic;
	text-transform: uppercase;
	color: palette('white');
	font-weight: 800;

	@media screen and (min-width: breakpoint('desktop')) {
		font-size: ms(3);
	}
	@media screen and (min-width: breakpoint('wide')) {
		font-size: ms(3);
	}
}

