.site-header {
	position: relative;
	color: palette('white');
	min-height: 640px;
	height: 70vh;
	background-color: palette('gray', 'dark');
	background-image:
	url('../assets/images/backgrounds/capa-fundo-very-small.jpg');
	background-size:
	cover;
	background-position:
	center bottom;


	@media screen and (min-width: breakpoint('phablet')) {
		background-image:
		url('../assets/images/backgrounds/capa-boulos_sonia-small.png'),
		url('../assets/images/backgrounds/capa-fundo-small.jpg');
		height: 90vh;
		background-size:
		550px auto,
		cover;
		background-position:
		1em bottom,
		0 0;
		min-height: 620px;
	}

	@media screen and (min-width: breakpoint('tablet')) {
		background-image:
		url('../assets/images/backgrounds/capa-boulos_sonia-medium.png'),
		url('../assets/images/backgrounds/capa-fundo-medium.jpg');
		height: 90vh;
		background-size:
		680px auto,
		cover;
		background-position:
		1em bottom,
		0 0;
		min-height: 720px;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		background-image:
		url('../assets/images/backgrounds/capa-boulos_sonia.png'),
		url('../assets/images/backgrounds/capa-fundo.jpg');
		background-size:
		750px auto,
		cover;
		background-position:
		center bottom,
		0 0;
		min-height: 780px;
	}

	@media screen and (min-width: breakpoint('wide')) {
		height: 100vh;
		min-height: 870px;
		background-image:
		url('../assets/images/backgrounds/capa-boulos_sonia.png'),
		url('../assets/images/backgrounds/capa-fundo.jpg');
		background-size:
		750px auto,
		cover;
		background-position:
			center bottom,
			0 0;

	}
}

.header-container {
	max-width: $max-width;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: auto;
	margin-left: auto;
}

#home__greetings {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;

	@media screen and (min-width: breakpoint('phablet')) {
		top: 27%;
	}
	@media screen and (min-width: breakpoint('tablet')) {
		top: 18%;
	}
}

.site-label {
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@media screen and (min-width: breakpoint('desktop')) {
		max-width: 760px;
		text-align: right;
	}
	@media screen and (min-width: breakpoint('wide')) {
		max-width: 1000px;
	}
}

.site-label h1 {
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	line-height: 1em;
	font-weight: bold;
	color: palette('header','white');
	margin: 0;

	&:first-child span {
		color: transparent;
		-webkit-text-stroke-width: $stroke / 3;
		-webkit-text-stroke-color: palette('header','white');

		@media screen and (min-width: breakpoint('tablet')) {
			-webkit-text-stroke-width: $stroke / 2;
		}
		@media screen and (min-width: breakpoint('wide')) {
			-webkit-text-stroke-width: $stroke;
		}

	}
	&:nth-child(2) span {
		font-weight: 900;
		 color: palette('header','yellow');
		 font-size: 1.2em;

	}


}

.site-label h1 {
	color: palette('white');
	text-transform: uppercase;
	font-size: ms(3);
	font-weight: 800;
	letter-spacing: -3px;

	@media screen and(min-width: breakpoint('phablet')) {
		font-size: 2.7em;
	}

	@media screen and(min-width: breakpoint('tablet')) {
		font-size: ms(6);
	}

	@media screen and(min-width: breakpoint('desktop')) {
		font-size: ms(7);
	}

	@media screen and(min-width: breakpoint('wide')) {
		font-size: ms(8);
	}

}


.site-label .call-to-action {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	z-index: 2;
	font-size: ms(2);
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	text-align: right;

	@media screen and (min-width: breakpoint('desktop')) {
		font-size: ms(3);
	}

	@media screen and (min-width: breakpoint('wide')) {
		font-size: ms(3);
	}

	& span {
		color: palette('header','yellow');
		font-weight: 900;
	}
}
